{% extends "base.html.jinja" %}

{% block head %}
    <style>
        h1 {
            text-align: center;
            font-size: xxx-large;
            margin: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-child">
        <h1>Incorrect Credentials</h1>

        <form action="{{ login_action }}" method="get" style="width: 100%; display: flex;">
            <button type="submit" style="margin-left: auto; margin-right: auto; margin-top: 1rem;">
                Back to Login
            </button>
        </form>
    </div>
{% endblock %}
